/* フラッシュメッセージ */
.flash {
  max-width: 95%; 
  margin: 5px auto;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

  /* notice のみに適用されるスタイル */
.flash.notice {
  background-color: lightgreen;
}

  /* alert のみに適用されるスタイル */
.flash.alert {
  background-color: #f8d7da;
}